@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* -------- Borderbox Fix -------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* -------- General Settings -------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display:block
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #CDFCFF;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* -------- Navigation Settings -------- */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding-right: 30px;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    color: #1B365C;
}

.logo img {
    width: 7rem;
    height: 7rem;
    margin-right: 40px;
}

.navBtn {
    display: none;
}

/* -------- Main Settings -------- */
main {
    margin: 0 auto;
    min-height: calc(100vh - 120px);
    border-top: 0.5px solid #1B365C;
}

.hero {
    background-image: url("images/quino-al-vmZ2DehWQ3Q-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.header-column1 {
    width: calc(40% - (( 4% ) * 0.6));
    margin: 0 auto 20px auto;
    padding: 60px 20px 15px 25px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    height: 300px;
    padding: 20px;
}

.header-title {
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

.header-para {
    margin-top: 10px;
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
}

.header-para:nth-child(2) {
    margin-top: 10px;
}

.header-para:nth-child(4) {
    margin-top: 50px;
}

.button-row {
    width: calc(100% - ((4%) * 0.4));
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-row button {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row button:hover {
    color: #FDF9F2;
    background-color: #f175ff;
}

.button-row a {
    color: #1B365C;
    padding: 10px;
}

.button-row a:hover {
    color: #FDF9F2;
}

.button-row button:nth-child(2) {
    margin-left: 10px;
}

/* -------- Newsletter Settings -------- */
.newsletter {
    position: relative;
    height: 100%;
    max-height: 300px; 
    width: 100%;
    margin-top: 20px;
    border-top: 10px solid #AAB8C2;
    border-bottom: 10px solid #AAB8C2;
}

.newsletter::before {
    content: "";
    background-image: url("images/simon-berger-twukN12EN7c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}

.newsletter-container {
    position: relative;
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #fff;
    margin: 40px auto;
    width: 50%;
}

.newsletter-container h2 {
    font-size: 1.7rem;
    text-shadow: 0.5px 0.5px #888888;
}

.newsletter-container p {
    text-shadow: 0.5px 0.5px #888888;
}

.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 690px;
    margin: 0 auto 50px auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.form-container input {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #AAB8C2;
    border: none;
}

.form-container input[type="submit"] {
    cursor: pointer;
    color: #1B365C;
    background-color: #fff;
    border: none;
}

.form-container input[type="submit"]:hover {
    color: #FDF9F2;
    background-color: #f175ff;
}

/* -------- Latest Posts -------- */
.latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px 0 30px;
    margin: 50px auto;
}
.latest h2 {
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #1B365C;
    margin-bottom: 50px;
}
.latest ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.latest img {
    width: 22rem;
    height: 22rem;
}
.latest ul li {
    margin-left: 10px;
    margin-right: 10px;
}
.latest ul li a:last-child {
    display: flex;
    justify-content: center;
    color: #FDF9F2;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 71px;
    width: 100%;
    max-width: 22rem;
}
/* -------- Footer Settings -------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 30px;
    margin-top: 20px;
    color: #AAB8C2;
    background-color: #1B365C;
}
.footer-links {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h2 {
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}
footer a {
    color: #fff;
    margin: 20px auto;
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------- About Settings -------- */
.about-img {
    max-width: 900px;
    display: block;
    margin: 0 auto 20px auto;
    background-image: url("images/andrew-deslauriers-oUPywYZT88Y-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
}

.about-para {
    color: #222222;
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-style: normal;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-para p {
    margin-bottom: 20px;
}

/* -------- Blog Settings -------- */
.title {
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #1B365C;
    margin: 50px 0 50px 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 30px 10px 30px
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 65px;
}

.content picture {
    margin: 5px 25px 0px 5px;
    width: 320px;
}

.content picture a {
    color: #3399e6;
    text-decoration: none;
    box-shadow: none;
}

.content picture img {
    width: 320px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
}

.post-content {
    flex: 1;
    color: #222222;
}

.post-content h2 {
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.3;
    color: #333333;
}

.post-content p {
    font-family: 'DM Sans', sans-serif;
    margin: 10px 0 20px;
    overflow-wrap: break-word;
}

.post-info {
    width: 100%;
    padding: 0.2rem;
    margin: 5px 5px 0px 5px;
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
}

.post-info a:last-child {
    float: right;
}

#loadMore {
    display: block;
    color: #fff;
    background-color: #1B365C;
    border: 1px solid #E1E8ED;
    border-radius: 2rem;
    padding: 10px;
    margin: 10px auto;
    width: 100px;
    cursor: pointer;
}

.none {
    display: none;
}

/* -------- Contact Settings 
.contact-container {
    color: #fff;
    position: relative;
    height: 100%;
    max-height: 690px; 
    width: 100%;
    margin: 20px auto;
    font-size: 1.1rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    border-top: 10px solid #AAB8C2;
    border-bottom: 10px solid #AAB8C2;
}

.contact-container::before {
    content: "";
    background-image: url("images/simon-berger-twukN12EN7c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}

#contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    width: 100%;
    max-width: 690px;
    margin: 0px auto 0px auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#contact-form input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 6px 0 16px 0;
    
}-------- */
/* -------- Media Queries -------- */
@media screen and (max-width: 1099px) {
    /* -------- Header Settings -------- */
    nav {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 4rem;
    }

    .nav-menu {
        display: none;
    }

    .logo img{
        position: absolute;
        right: 0;
        top: 0;
        height: 4rem;
        width: 4rem;
    }

    .navBtn {
        z-index: 100;
        color: #000;
        display: block;
        background-image: url(images/menu.svg);
        position: absolute;
        top: 0px;
        left: 0;
        height: 3.3rem;
        width: 3rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 1.5rem 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .showNav {
        margin-top: 256px;
        padding: 0% 0% 0% 3%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: #CDFCFF;
    }

    .nav-menu li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 3rem;
    }

    .header-column1 {
        width: calc(100% - (( 4% ) * 0.6));
        margin: 0 auto;
        padding: 60px 20px 15px 25px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }
    
    .header-wrapper {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
    
    .header-title {
        font-size: 2rem;
        font-family: 'DM Sans', sans-serif;
        font-weight: 600;
        text-align: center;
    }
    
    .header-para {
        margin-top: 10px;
        font-size: 1.1rem;
        font-family: 'DM Sans', sans-serif;
        text-align: center;
    }
    
    .button-row {
        width: calc(100% - ((30%) * 0.4));
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
    }
    
    .button-row button {
        width: 100%;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
<<<<<<< HEAD
    /* -------- Newsletter Settings -------- */
    .newsletter {
        position: relative;
        height: 100%;
        max-height: 100%; 
        width: 100%;
        margin: 20px auto;
        border-top: 10px solid #AAB8C2;
        border-bottom: 10px solid #AAB8C2;
    }
}
@media screen and (max-width: 700px) {
    /* -------- Newsletter Settings -------- */
    .newsletter-container h2 {
        font-size: 1.7rem;
        width: 100%;
        max-width: 240px;
        text-align: center;
        margin: 0 auto;
    }

    .newsletter-container p {
        margin: 20px auto;
        width: 100%;
        max-width: 240px;
        text-align: center;
    }
    
    .form-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 50px auto;
        padding: 15px;
        width: 280px;
        max-width: 100%;
    }
    
    .form-container input {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
        padding: 10px;
        border: 1px solid #AAB8C2;
        border: none;
    }
    
    .form-container input[type="submit"] {
        cursor: pointer;
        color: #1B365C;
        background-color: #fff;
        border: none;
        width: 242px;
    }
}

@media screen and (max-width: 550px) {
    /* -------- Blog Settings -------- */
    .content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 30px 10px 30px
    }
    
    .content picture {
        margin: 5px auto 0px auto;
        width: 100%;
        max-width: 340px;
    }

    .content picture img {
        width: 340px;
        max-width: 100%;
        height: 200px;
        max-height: 100%;
    }

    .post-content h2 {
        font-size: 1.5rem;
        font-family: 'DM Sans', sans-serif;
        text-align: center;
        line-height: 1.3;
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
        color: #333333;
    }

    .post-content p {
        font-family: 'DM Sans', sans-serif;
        text-align: center;
        margin: 10px auto 20px auto;
        overflow-wrap: break-word;
    }

    #loadMore {
        display: block;
        color: #fff;
        background-color: #1B365C;
        border: 1px solid #E1E8ED;
        border-radius: 2rem;
        padding: 10px;
        margin: 10px auto;
        width: 100px;
        cursor: pointer;
    }

    .none {
        display: none;
    }
}
=======
}

/* Contact Page */
.contact-title {
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #1B365C;
    margin: 50px 0 50px 0;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 1em;
    padding-left: 1em;
  }
  
  legend {
    color: black;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 0.5em;
    text-align: center;
  }
  label {
    float: left;
    width: 12em;
    text-align: right;
  }
  label,
  input,
  select {
    font-size: 90%;
  }
  input,
  select {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  input:required,
  input[required] {
    border: 2px solid #1B365C;
  }
  input:valid {
    border: 1px solid black;
  }
  input:invalid {
    box-shadow: none;
    border: 2px solid #1B365C;
  }
  br {
    clear: both;
  }
  #buttons input {
    width: 10em;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 30px 10px 30px;
    font-family: 'DM Sans', sans-serif;
  }
  
>>>>>>> 3e10a20afa3b95fc64b4882bf35fc0ee912b1317
